div{:class => "container-fluid", :name => "games"}
  div{:class => "row-fluid"}
    div{:id => "chessboard"}
    div{:id => "challengeOverlay"}
      span{:class => "newGameIcon"}
      p Start Game
  div{:class => "row-fluid"}
    div{:id => "playerPanel", :class => "offset3 span6 centering well", :style => "margin-top: 20px;"}
      div{:class => "row-fluid"}
        div{:id => "selfPanel", :class => "span4"}
        div{:id => "statsPanel", :class => "span4", :style => "text-align: center;"}
        div{:id => "opponentPanel", :class => "span4", :style => "text-align: right;"}