-@ val display: String

:!javascript
  var displayAction = JSON.parse('#{display}');
div{:class => "container-fluid", :name => "games"}
  div{:class => "row-fluid"}
    div{:id => "chessboards"}
      div{:id => "chessboard"}
      div(id="chessboard-prev" class="navileft" style="display: none;")
        a(class="button" href="javascript:void(0);")
          i(class="fa fa-chevron-left fa-3x")
      div(id="chessboard-next" class="naviright" style="display: none;")
        a(class="button" href="javascript:void(0);")
          i(class="fa fa-chevron-right fa-3x")
    div{:id => "challengeOverlay", :style => "display: none;"}
      span{:class => "newGameIcon"}
      p New Game
    - include("new_game_modal-challenged.jade")
    div(id="newGameModal" class="modal hide" data-show="false")
      div(class="modal-header")
        button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        h3(id="newGameModalHeader") Challenge Friend
      - include("new_game_modal-login.jade")
      div(id="newGame-loggedIn" class="modal-body" style="display: none;")
        - include("new_game_modal-email.jade")
        - include("new_game_modal-friends.jade")
      div(class="modal-footer")
        a(id="chEmBtn" class="btn btn-primary") Challenge
        a(href="javascript:void(0);" class="btn" data-dismiss="modal") Close
  div{:class => "row-fluid"}
    div{:id => "playerPanel", :class => "offset3 span6 centering well", :style => "margin-top: 20px;"}
      div{:class => "row-fluid"}
        div{:id => "selfPanel", :class => "span4"}
        div{:id => "statsPanel", :class => "span4", :style => "text-align: center;"}
        div{:id => "opponentPanel", :class => "span4", :style => "text-align: right;"}
- include("alert_modal.jade")
