div(id="newGame-email")
  form(name="chEmFrm" id="chEmFrm")
    fieldset
      legend Email Address
      input(id="chEmTxt" type="email" name="email" required="true")
      span(id="chEmHlp" class="help-block") Your challenge link will be sent to this email address.
      a(id="chEmBtn" class="btn btn-primary") Challenge
