
#chessboard {
    display: table; margin: 0 auto; height: 420px; width: 420px;
}

#challengeOverlay {
    display: table;
    z-index: 300;
    height: 266px;
    width: 416px;
    margin: 0 auto -430px;
    background: #fff;
    position: relative;
    top: -422px;
    left: -2px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    opacity: 0.6;
    border: 2px dashed;
    border-radius: 6px;
    padding-top: 150px;
    transition: all 200ms ease;
}

.newGameIcon {
    vertical-align: middle;
    display: block;
    background-image: url("/img/chesspieces/wikipedia/bK.png");
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    margin: auto auto 10px;
    font-family: "Helvetica Neue","Helvetica","Arial","Kai","KaiTi",sans-serif;
}

/* todo - separate row and cell concerns */
.frRw { /* friend row */
    display: table-row;
}

.frAvCl { /* friend avatar cell */
    display: table-cell;
    width: 70px;
}

.frNm { /* friends name cell */
    display: table-cell;
    width: 100%;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.frAv { /* friend avatar image */
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0.5em;
}

.frCh { /* friend challenge button div */
    position: absolute;
    right: 0;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

#challengeOverlay:hover {
    opacity: 0.9;
}

.challengemode {
    border: none;
}


